.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background-image: url("https://image.freepik.com/foto-gratis/dia-amor-mano-joven-corazon-dos-personas_24883-52.jpg");
    background-size: cover;
    min-height: 100vh;
}

.transparente{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}