
<h2 class="text-center bg-white">Bienvenidos a <span class="text-primary">Luca</span><span class="text-danger">Tinder</span></h2>
<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h5 class="card-header border border-danger rounded-top bg-danger text-white text-center">Registro</h5>
    <div class="border border-danger rounded-bottom p-3 bg-white">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>NickName (*)</label>
          <input type="text" class="form-control" [(ngModel)]="perfil.nickName" required>
        </div>
        <div class="form-group col-md-6">
          <label>Password (*)</label>
          <input type="password" class="form-control" [(ngModel)]="perfil.password" required>                     
        </div>
      </div>   
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Edad (*)</label>
          <input type="number" class="form-control" placeholder="23" min="18" [(ngModel)]="perfil.edad" required>
        </div>
        <div class="form-group col-md-6">
          <label>Poblacion (*)</label>
         
          <select class="form-control" [(ngModel)]="perfil.poblacion.idPoblacion">
            <option *ngFor="let poblacion of listaPoblacion" value="{{poblacion.idPoblacion}}">
           {{poblacion.nombrePoblacion}}
            </option>
          </select>

        </div>
      </div>                    
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Genero (*)</label>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="Hombre" name="genero" [(ngModel)]="perfil.genero" required>
              <label class="form-check-label">Hombre</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="Mujer" name="genero" [(ngModel)]="perfil.genero">
              <label class="form-check-label">Mujer</label>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Breve descripcion</label>
          <textarea class="form-control" [(ngModel)]="perfil.descripcion"></textarea>
        </div>
      </div>
      <div>
        <div class="row justify-content-md-center">
          <input class="btn btn-outline-primary" type="submit" value="Alta" (click)="Addperfil()">
          <a class="text-center ml-4" routerLink="/">¿Ya tienes cuenta?</a>
        </div>
      </div>      
    </div>
    </div>
  </div>
</div>

