/* Clase que hace fijo el elemento cuando llega a la altura 0 */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
  }

.logo{
    width: 100%;
  }

.contenedorLogo{
    width: 200px;
}